.page-body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 403;
    color: #000000;
    text-transform: none;
    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}




body {
    width: 1280px;
    margin: 0;
    padding: 0 40px;
}



.site-navigation {
    display: flex;
    padding: 0;
    list-style: none;
    font-size: 20px;
    line-height: 26px;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.container {
    display: flex;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 60px;
}



.image-wrapper {
    position: relative;
    width: 1200PX;
    height: 485px;


}

.overlay {
    position: absolute;
    left: 50%;
    top: 15%;
    text-align: center;
    transform: translateX(-50%);
}


.page {
    height: 100%;
}



.main-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
    gap: 20px;
}

.main-navigation-wrapper {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    order: 2;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navigation-container {
    display: flex;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.logo {
    order: 1;
}

.button-custom {
    display: inline-block;

    background-color: #615048;
    border: none;
    font-family: inherit;
    border-radius: 4px;
    width: 160px;
    height: 37px;

}



.feature-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.features-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-header-logo {
    order: 1;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #000000;
    font-weight: 700;
}



.features-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.feature-other {
    display: flex;
    grid-column: 1 / -1;
}


.feature-item h3 {
    font-size: 24px;
    line-height: 28px;
}

.feature-item {
    background-color: #81B3D2;
    color: black;

}

.feature-food {
    background-color: white;
    background-image: url('img/food.png')
}

.feature-housing {
    background-image: url('img/housing.png')
}

.feature-gifts {
    background-image: url('img/gifts.png')
}




.main-footer {
    background-color: #ffffff;
    padding: 0;
    margin-top: 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-copyright {
    max-width: 115px;
    margin: 0;
    justify-self: end;
}

.footer-social {
    width: 107px;
    list-style: none;
    text-align: left;
    justify-self: start;
}

.contacts-phone {
    width: 720px;
    height: 50px;
    text-align: center;
    justify-self: center;

}

.call-to-action {
    text-align: center;
}


.footer-copyright {
    text-align: right;
}


.button {

    color: #ffffff;
    font: inherit;
    text-align: center;
    background-color: #756257;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    vertical-align: middle;

}

.button:hover,
.button:focus,
.button:active {
    background-color: #615048;
}

.button-blue {
    font: inherit;
    text-align: center;
    color: #ffffff;
    background-color: #83B3D3;
    border: none;
    border-radius: 4px
}

.button-blue:hover,
.button-blue:focus,
.button-blue:active {
    background-color: #68A2CA;
}

.contacts-phone {
    color: inherit;
    line-height: 40px;
    font-size: 40px;
}

h1 {
    font-size: 60px;
    line-height: 72px;

}



.mode-list {
    list-style: none;
}

.results-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
}

.result-item {
    width: 340px;
    min-height: 438px;
    margin-right: 18px;
    margin-bottom: 10px;
}

.result-item-image {
    width: 300px;
    height: 206px;
    margin: 0;
}

.pagination-list {
    font-display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;

}

.page-number a {

    display: block;
    padding: 10px 19px;
    background-color: #83B3D3;
    color: #ffffff;
    border: none;
    border-radius: 4px;
}


.page-number {
    margin-right: 5px;
    width: 55px;
    height: 55px;


}

.checkbox-list {
    list-style: none;
}

.radio-list {
    list-style: none;
}



.text-overlay {
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}



.reset-submit {
    position: absolute;
    top: 45%;
    left: 65%;
    transform: translateY(-50%);
    color: #ffffff;
}

.range-input {
    position: absolute;
    top: 52%;
    left: 45%;
    transform: translateY(-50%);
    color: #ffffff;
}

.range {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translateY(-50%);
    color: #ffffff;
}

.range-input {
    width: 60%;
}

.slider {
    width: 23%;
    appearance: none;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
}

.radio-overlay {
    position: absolute;
    top: 48%;
    left: 38%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.range-scale {
    width: 23%;
    height: 4px;
    background-color: #e5e5e582;

    position: relative;
    margin: 20px 0;
}

.range-slider {
    width: 80%;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;

}

.range-toggle {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    top: -8px;
    transform: translateX(-50%);
    border: none;
    border-radius: 4px;

}

.toggle-min {
    left: 3%;
}

.toggle-max {
    left: 97%;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    accent-color: #ffffff;
    border-radius: 4px;
    border: none;

}

.appointment-item-form-field {
    font: inherit;
}

.form-input {
    border-color: transparent;
    background-color: #ddd;
    border-radius: 2px;
    width: 420px;
}

.quantity {
    width: 100px;
    border-color: transparent;
    background-color: #ddd;
    border-radius: 2px;
}

.email-info .subscribe {
    display: flex;


}

.newsletter-container {
    display: flex;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container-results {
    display: flex;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container-results-list {
    display: flex;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.button-load-container {
    display: flex;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container-overlay {
    display: flex;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.filters {
    background-image: url("img/catalog-background1.png");
    background-position: center;
    background-repeat: no-repeat;
}